body
{
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 20px 0 0 0;
}

.Subheader
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 10, 0);
    border-top: dashed 2px rgb(255, 255, 255);
    border-bottom: dashed 2px rgb(255, 255, 255);
    box-shadow: 0px 3px 3.5px rgb(255, 255, 255);
    z-index: -1; 
}

.MainContainer
{
    position: relative;
    overflow: hidden;
    width: 1440px;
    height: 1418px;
    margin: 0 auto;
    background-color: rgb(0, 15, 0);
    z-index: 0;
}

.Header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.LeftHeader, .RightHeader
{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 10, 0);
    border-top: dashed 2px rgb(255, 255, 255);
    border-bottom: dashed 2px rgb(255, 255, 255); 
    overflow: hidden;  
}

.LeftHeader
{
    justify-content: start;
    width: 62.5%;
    border-right: dashed 2px rgb(255, 255, 255);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: none;
    box-shadow: 0px 1.5px 3.5px 1.5px rgb(255, 255, 255);
}

.LeftHeader img
{
    margin: 0 100px 0 0;
}

.NavigateMenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42.5%;
    height: auto;
    margin: 0 auto;
}

.MainLink, .HistoryLink, .UsersArtsLink
{
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 100%;
}

.MainLink a, .HistoryLink a, .UsersArtsLink a
{
    color: white;
    font-family: sans-serif;
    font-size: 22pt;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-shadow: 1px 1px 1.5px rgb(255, 255, 255);
}

.MainLink a:hover, .HistoryLink a:hover, .UsersArtsLink a:hover
{
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255), 
    2px 2px 10px rgb(255, 255, 255), 2px 2px 30px rgb(255, 255, 255);
}

.MainLink
{
    margin: 0 2% 0 0;    
}

.RightHeader
{
    justify-content: end;
    width: 35%;
    border-left: dashed 2px rgb(255, 255, 255);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
    box-shadow: 0px 3px 3.5px rgb(255, 255, 255);
}

.Forma
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: auto;
}

.SearchLine
{
    width: 74%;
    height: 100%;
}

.LogOut
{
    width: 25%;
    height: 100%;
}

#search
{
    width: 95%;
    height: 36px;
    margin: 2px 0px;
    border-radius: 6px;
    background-color: rgb(0, 15, 0);
    border: dashed 2px rgb(255, 255, 255);
    padding-left: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    box-shadow: 2px 2px 3.5px rgb(255, 255, 255);
}

.Button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: white;
    margin: 4px 0;
    border-radius: 6px;
    border: 0;
    box-shadow: 0px 2px 3.5px rgb(255, 255, 255);
}

.Button a
{
    color: rgb(0, 10, 0);
    font-family: sans-serif;
    font-size: 14pt;
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0);
    text-decoration: none;
}

.Button a:hover
{
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0), 
    1px 1px 3.5px rgb(0, 10, 0, 0.5);
}

.PageTop
{
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 45px 0 0 0;
}

.Banner
{  
    width: 1132px;
    height: 575px;
    background-color: rgb(0, 10, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);
}

.avatar{ 
    position: relative;
    top: -500px;
    right: -60px;
    width: 240px;
    height: 320px;
    background-color: rgb(0, 10, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);

}
.avatar img{
    margin: 5px 0 0 0;
    width: 230px;
    height: 305px ;
   
}

.fon img{
    position: relative;
    margin: 10px 0 0 0;
    width: 1120px;
    height:555px;
}

.HitheFon{
    position: relative;
    display: flex;
    justify-content: right;
    top: -120px;
    width: 1132px;
    height: 130px;
    background-color: rgb(0, 10, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);

}
.entrance
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px  0 0;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);
}

.entrance a
{
    font-family: sans-serif;
    color: rgb(0, 10, 0);
    font-size: 14pt;
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0);
    text-decoration: none;
}

.entrance a:hover
{
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0), 
    1px 1px 3.5px rgb(0, 10, 0, 0.5);
}

.nackname{
    position: relative;
    left: -270px;
    bottom: -20px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255);
    font-size: 28pt;
    
}

.status{
    position: relative;
    bottom: -70px;
    left: -1010px;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 1.5px rgb(255, 255, 255);
    font-size: 10pt;
    
}