body
{
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin: 20px 0 0 0;
    padding: 0;
}

@keyframes UpDown
{
    0%
    {
        transform: translateY(0%);
    }

    50%
    {
        transform: translateY(-10%);
    }

    100%
    {
        transform: translateY(0%);
    }
}

.Subheader
{
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgb(0, 10, 0);
    border-top: dashed 2px rgb(255, 255, 255);
    border-bottom: dashed 2px rgb(255, 255, 255);
    box-shadow: 0px 3px 3.5px rgb(255, 255, 255);
    z-index: 0; 
    margin: 0;
    box-sizing: border-box;
}

.OuterMainContainer
{
    position: relative;
    width: 1500px;
    height: auto;
    margin: 0 auto;
    z-index: 1;
}

.MainContainer
{
    overflow: hidden;
    width: 1440px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(0, 15, 0);
}

.Header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.LeftHeader, .RightHeader
{
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgb(0, 10, 0);
    border-top: dashed 2px rgb(255, 255, 255);
    border-bottom: dashed 2px rgb(255, 255, 255);   
}

.LeftHeader
{
    justify-content: start;
    width: 62.5%;
    border-right: dashed 2px rgb(255, 255, 255);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: none;
    box-shadow: 0px 1.5px 3.5px 1.5px rgb(255, 255, 255);
}

.LeftHeader img
{
    margin: 0 100px 0 0;
}

.NavigateMenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 42.5%;
    height: auto;
    margin: 0 auto;
}

.MainLink, .HistoryLink, .UsersArtsLink
{
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: 100%;
}

.MainLink a, .HistoryLink a, .UsersArtsLink a
{
    color: white;
    font-family: sans-serif;
    font-size: 22pt;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-shadow: 1px 1px 1.5px rgb(255, 255, 255);
}

.UsersArtsLink a
{
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255), 
    2px 2px 30px rgb(255, 255, 255);
}

.MainLink a:hover, .HistoryLink a:hover, .UsersArtsLink a:hover
{
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255), 
    2px 2px 10px rgb(255, 255, 255), 2px 2px 30px rgb(255, 255, 255);
}

.MainLink
{
    margin: 0 2% 0 0;    
}

.RightHeader
{
    justify-content: end;
    width: 35%;
    border-left: dashed 2px rgb(255, 255, 255);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-right: none;
    box-shadow: 0px 3px 3.5px rgb(255, 255, 255);
}

.Forma
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: auto;
}

.SearchLine
{
    width: 74%;
    height: 100%;
}

.LogIn
{
    width: 25%;
    height: 100%;
}

#search
{
    width: 95%;
    height: 36px;
    margin: 2px 0px;
    border-radius: 6px;
    background-color: rgb(0, 15, 0);
    border: dashed 2px rgb(255, 255, 255);
    padding-left: 3px;
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    box-shadow: 2px 2px 3.5px rgb(255, 255, 255);
}

.Button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: white;
    margin: 4px 0;
    border-radius: 6px;
    border: 0;
    box-shadow: 0px 2px 3.5px rgb(255, 255, 255);
}

.Button a
{
    color: rgb(0, 10, 0);
    font-family: sans-serif;
    font-size: 14pt;
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0);
    text-decoration: none;
}

.Button a:hover
{
    text-shadow: 1px 1px 1.5px rgb(0, 10, 0), 
    1px 1px 3.5px rgb(0, 10, 0, 0.5);
}

.PageTop
{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 45px 0 0 0;
}

.Decorations
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    width: 58.5%;
    height: auto;
}

.Value
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 20px;
    background-color: rgb(0, 255, 0);
    border-radius: 6px;
    color: white;
    font-family: sans-serif;
    font-size: 8pt;
    box-shadow: 1px -1px 3.5px rgb(0, 255, 0);
    transform: rotate(90deg);
    margin: 0px -11px 0px -15px;
}

.Value p
{
    margin: 0;
    padding: 0;
}

.WelcomeLeftLine
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 10px;
    height: 357px;
}

.LineEnder
{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 3.5px rgb(255, 255, 255);
    margin: -4px 0;
}

.WelcomeLeftLineMiddler
{
    width: 2px;
    height: 353px;
    background-color: white;
    box-shadow: 1px 1px 3.5px rgb(255, 255, 255);
}

.Welcome
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25.4%;
    height: 353px;
    border-top: dashed 2px rgb(0, 255, 0);
    border-bottom: dashed 2px rgb(0, 255, 0);
    color: white;
    font-family: sans-serif;
    font-size: 20pt;
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255);
    letter-spacing: 0.3em;
    line-height: 110%;
}

.Welcome h1
{
    color: white;
    font-family: sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255);
    letter-spacing: 0.005em;
    line-height: 100%;
}

.Banner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 353px;
    background-color: rgb(0, 10, 0);
    border: solid 2px rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);
}

.BannerContent
{
    display: grid;
    width: 90%; height: 90%;
    grid-template: 33% 33% 33% / 50% 25% 25%;
}

.BannerContentText
{
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/4;
    color: white;
    font-family: sans-serif;
    font-size: 40pt;
    font-weight: bold;
    line-height: 120%;
    text-shadow: 2px 2px 3.5px rgb(255, 255, 255);
    text-align: left;
}

.BannerContentImageLamp
{
    margin: auto auto -10% 5%;
    grid-column: 2/4;
    grid-row: 1/2;
}

.BannerContentImagePaper
{
    margin: auto auto -10% -35%;
    grid-column: 2/3;
    grid-row: 2/3;
}

.BannerContentImageBody
{
    margin: auto auto -10% -45%;
    grid-column: 3/4;
    grid-row: 2/3;
}

.BannerContentImagePuzzles
{
    margin: -10% 0 0 -20%;
    grid-column: 2/4;
    grid-row: 3/4;
}

.BannerContentImageLamp, .BannerContentImagePaper,
.BannerContentImageBody, .BannerContentImagePuzzles
{
    animation-name: UpDown;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.BannerContentImageLamp
{
    animation-delay: 0.3s;
}

.BannerContentImagePuzzles
{
    animation-delay: 0.6s;
}

.BannerContentImageBody
{
    animation-delay: 0.9s;
}

.BannerContentImagePuzzles img
{
    transform: rotate(30deg);
}

.InnerMenu
{
    display: inline-flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 33.1%;
    height: 549px;
    background-color: rgba(0, 125, 0, 0);
    margin: 0 30px 0 0;
}

.LinkBanner
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 166px;
    background: rgb(0,10,0);
    border: solid 2px rgb(255, 255, 255); 
    border-radius: 12px;
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255);
}

.LinkBanner:hover
{
    box-shadow: 3px 3px 3.5px rgb(255, 255, 255), 
    7px 7px 3.5px rgb(255, 255, 255, 0.5);
}

.LinkBanner a
{
    width: 80%;
    height: auto;
    margin: auto;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-shadow: 1px 1px 3.5px rgb(255, 255, 255);
    text-decoration: none;
    line-height: 110%;

}

.PageSectionStartHead, .PageSectionRightHead, .PageSectionLeftHead
{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 56.5%;
    height: 184px;
    background: rgb(0,10,0);
    border-top: solid 2px rgb(255, 255, 255); 
    border-left: solid 2px rgb(255, 255, 255);
    border-right: solid 2px rgb(255, 255, 255);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px 0px 3.5px 3px rgb(255, 255, 255);  
    text-shadow: 1px 1px 3.5px rgb(255, 255, 255); 
}

.PageSectionStartHead
{
    margin: -135px auto 0 30px;
}

.PageSectionHeadText
{
    width: 80%;
    height: auto;
    margin: 0 0 0 25px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 48pt;
    font-weight: bold;
    line-height: 100%;
}

.PageSectionContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 140vh;
    background: rgb(0,10,0);
    border-top: dashed 2px rgb(255, 255, 255); 
    border-bottom: dashed 2px rgb(0, 10, 0);
    box-shadow: 0px 0px 3.5px 3px rgb(255, 255, 255);
}

.BootstrapCarousel, .carousel-item
{
    height: 90vh;
}

.BootstrapCarousel
{
    width: 97.5%;
    margin: 45px 0 0 0;
}

.carousel-item img 
{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.carousel-caption h5, .carousel-caption p 
{
    font-family: sans-serif;  
    text-shadow: 2px 2px 1.5px rgb(0, 10, 0);
    font-size: 20pt;
}

.carousel-caption h5
{
    font-weight: bold;
}

.carousel-caption p
{
    margin: 0;
}

.carousel-caption
{
    padding: 0;
}

.PageSectionRightHead
{
    align-self: flex-end;
    margin: -184px 30px 0 auto;
}

.PageSectionLeftHead
{
    align-self: flex-end;
    margin: -184px auto 0 30px;
}

.PageSectionContainerFooter
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(0,10,0);
    border-top: dashed 2px rgb(255, 255, 255); 
    border-bottom: dashed 2px rgb(0, 10, 0);
    box-shadow: 0px 0px 3.5px 3px rgb(255, 255, 255);
}

.FooterContent
{
    display: grid;
    width: 70%;
    height: 40%;
    grid-template: 55% 15% 15% 15% / 50% 50%;
}

.FooterHeadText
{
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 36pt;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 1px 1px 3.5px rgb(255, 255, 255);
    margin: 0 20%;
}

.FooterText
{
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 24pt;
    font-weight: bold;
    line-height: 100%;
    text-shadow: 1px 1px 3.5px rgb(255, 255, 255);
    margin: 0 20%;
}

